@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

#welcome-section {
    /* height: 180vh; */
}

.navbar-brand {
    font-size: 1.35rem;
    font-weight: 800;
    color: black;
    cursor: pointer;    
    text-decoration: none;
}

.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
    background-color: gray;
}

body {
    /* background: linear-gradient(0deg, #F7F7F7, #F7F7F7); */
    background-color: #FEFDFC;
}

/* p {
    font-family: 'Space Mono', monospace;
} */


/*MAIN*/
.main {
    background: url(./img/blue.png)no-repeat;
    width: 100%;
    height: 100vh;
}

.main h1 {
    font-size: 5.4rem;
}
 