/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');git  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Space Mono', monospace; */
}

.navbar-brand {
    font-size: 1.35rem;
    font-weight: 800;
    color: black;
    cursor: pointer;    
    text-decoration: none;
}

.nav-link{
    color: black;
    font-size: 1rem;
    /* font-weight: 700; */
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
    background-color: gray;
}
.autohide{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

/*MAIN*/
.main {
    width: 100%;
    height: 50vh;
    /* border: 5px solid red; */
}

.main h1{
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;}
 
.main .img-profile {
    /* border: 1px solid yellow; */
    background: url(./img/undraw.png)no-repeat;
    background-size: contain;
    background-position: center;
}

/* .skillchart {
    border: green 5px solid;
}

.skillchart-col1 {
    border: red 2px solid;
}

.skillchart-col2 {
    border: blue 2px solid;
} */

/*https://undraw.co/illustrations*/

/*Projects Section*/
#projects {
    width: 100%;
    /* height: 100vh; */
}

.images_ {
    width: 120px;
    margin: 10px 0; 
    /* height: auto; */
  }